#container {
    font-family: Arial, Helvetica, sans-serif;
  }
#dropdown {
    float: left;
    overflow: hidden;
  }
#dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
#container a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  } 
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
#dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
#dropdown-content a:hover {
    background-color: #ddd;
  }
#container2
{
    width: auto;
    font-size:90 %;
    margin: 0 auto;
}
#header
{
    margin-left:50px;
    margin-right:50px;
    width:auto;
    padding: 10px;
    height:75px;
    border:#0000FF dashed 1px;
    background-image: url("img/gdm.jpg");
    font-family: 'Courier New', Courier, monospace;
    color:gold;
}
#menu
{
    margin-left:50px;
    margin-right:50px;
    width:auto;
    padding: 10px;
    height:35px;
    border:#0000FF dashed 1px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace; 
}
#menu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
#menu a:hover{
    background-color: red;
}
#page
{
    margin-left:50px;
    margin-right:50px;
    border:#0000FF dashed 1px;
    color : white;
    padding: 10px;
    width: auto;
    height:700px;
    max-width:auto;
    background-image:url("img/gundam.jpg");
}
#clear
{
    clear:both;
}
#footer
{
    width:auto;
    text-align: center;
    background-color: black;
    color: white;
}